<a href='/auth/facebook'>Login with Facebook</a>
<% if session[:user_id] %>
  <p><%= @user.name %></p>
  <p><%= @user.email %></p>
  <p>Hello There!</p>
  <%= link_to "logout", :controller=> "sessions", :action=> "destroy" %>
<% end %>
