<% if session[:user_id] %>
  <h2>Welcome back, <%= @user.name %></h2>
  <h5>Email: <%=@user.email %></h5>
  <h5>Facebook UID: <%= @user.uid %></h5>
  <img src="@user.image" alt="">
<% else %>
  <a href='/auth/facebook'>Login with Facebook</a>
<% end %>
